{% extends 'base.html' %}

{% block content %}

<!-- Will be showed only to non-registered users -->

<div class="jumbotron">
    <h1 class="display-4">Hello, Friends*!</h1>
    <p class="lead">
        Are you getting overwhelmed managing your tasks? Covey's Time Quadrant Matrix will help you manage your tasks without any worry!
    </p>
    <hr class="my-4">
    <p>Just register here, and add your task in the list, we will suggest you what to do next using time management matrix. It's that easy!!!</p>
    <a class="btn btn-primary btn-lg" href="/register" role="button">Register Now!</a>
    <p class="mt-4">* I'm a student as well, so we're friend, haha.</p>
</div>
{% endblock content %}